<!--Saved Articles Page-->

<div class="container">

    <div id="topJumbotron" class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>Saved Articles</h1>
        </div>
    </div>

    <div class="col-md-12">

        {{#if notes}}
        {{#each notes}}
        <p>{{this.title}}</p>
        <p>{{this.body}}</p>
        {{/each}}
        {{/if}}
        {{#if article}} {{#each article}}
        <div class="panel">

            <div id="panel-heading" id="{{_id}}" class="panel-heading">
                <p class="text-center" id="title">{{this.title}}</p>
            </div>

            <div class="panel-body">
                <p class="text-center" id="summary">{{this.summary}}</p>
                <br>
                <div>
                    <a id="link-btn" href={{this.link}} class="btn" id="link-btn" target="_blank">Link!</a>
                    <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                    <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>
                </div>
            </div>
        </div>

        {{/each}} {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<!--Clicked Notes Modal-->
{{#each article}} {{/each}}