<!--Saved Articles Page-->

<div class="container">

    <div id="topJumbotron" class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>Saved Articles</h1>
            <a href="clear-all" class="btn btn-outline-primary scrape-clear-btn" role="button" aria-disabled="true">Clear</a>
        </div>
    </div>
    <div class="col-md-12">
        {{#each saved}}
        <div class="panel">
            <a href="/delete-one/{{id}}" class="btn btn-outline-danger" id="delete-one" role="button" aria-disabled="true">X</a>
            <div id="panel-heading" id="{{_id}}" class="panel-heading">
                <p class="text-center" id="title">{{title}}</p>
            </div>
            <div class="panel-body">
                <p class="text-center" id="summary">{{summary}}</p>
                <br>
                <p>Comment: {{note}}
                </p>
                <div>
                </div>
                <hr>
                <form action='note/{{id}}' method='post'>
                    <div class="form-group">
                        <label for="noteFormControlInput">Add a comment</label>
                        <input id="noteInput" name="noteId" type="text" class="form-control">
                        <br>
                        <a id="link-btn" href={{this.link}} class="btn" id="link-btn" target="_blank">Link!</a>
                        <button type="button" method="get" href="/delete-one/{{id}}" class="btn btn-danger delete" data-id={{this._id}}>Delete Article</button>
                        <button type="submit" class="btn btn-outline-primary" id="noteBtn">Save comment</button>
                        <a href="delete-note/{{id}}" class="btn btn-outline-danger" role="button" aria-disabled="true">Delete comment</a>
                    </div>
                </form>
            </div>
        </div>
        {{/each}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
    </div>
</div>